html {
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  background: #141e30;
  padding-bottom: 2.5rem;
}

.app {
  position: relative;
  min-height: 100vh;
}
.user-profile {
  padding-bottom: 3rem;
}

.home {
  padding-bottom: 3rem;
}

.movers-container {
  display: flex;
}

.movers-up {
  flex: 1;
  border: 1px greenyellow solid;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 20px;
  height: 100%;
  padding: 10px 0px;
}

.movers-down {
  flex: 1;
  border: 1px red solid;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 20px;
  height: 100%;
  padding: 10px 0px;
}

.news {
  margin: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid black;
  height: 100%;
  padding: 10px 0px;
}

.article {
  text-align: left;
  width: 100%;
  border-top: white 1px solid;
  padding: 10px;
}

.article-header {
  display: flex;
}

.article-title {
  flex: 1;
  text-align: left;
}

.article-author {
  flex: 1;
  text-align: left;
}

.article-img {
  flex: 1;
  height: 10%;
  width: 10%;
  padding-left: 5px;
  padding-bottom: 5px;
}
