html {
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  background: #141e30;
  padding-bottom: 2.5rem;
}

.app {
  position: relative;
  min-height: 100vh;
}
.user-profile {
  padding-bottom: 3rem;
}

.home {
  padding-bottom: 3rem;
}

.movers-container {
  display: flex;
}

.movers-up {
  flex: 1;
  border: 1px greenyellow solid;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 20px;
  height: 100%;
  padding: 10px 0px;
}

.movers-header {
  display: flex;
  margin-right: 5%;
  margin-bottom: 0px;
}

.movers-ticker {
  flex: 1;
}

.movers-price {
  flex: 1;
  margin-right: 5%;
}

.movers-change {
  flex: 1;
}

.news {
  margin: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid black;
  height: 100%;
  padding: 10px 0px;
}

.article {
  display: flex;
  text-align: left;
  width: 100%;
  border-top: white 1px solid;
  padding: 10px;
}

.article-header {
  flex: 1;
  text-align: left;
}

.article-title {
  flex: 1;
  font-size: 25px;
}

.article-break {
  width: 100%;
  border: solid 1px yellowgreen;
  margin-bottom: 5%;
  margin-top: 10%;
}

.article-summary {
  flex: 1;
  font-size: 20px;
  text-align: left;
}

.article-img {
  flex: 1;
  height: 10%;
  width: 10%;
  padding-left: 5px;
  padding-bottom: 5px;
}

.article-link {
  flex: 1;
  text-align: left;
}

.gainer-item {
  display: flex;
  border-top: 1px white solid;
  padding-top: 5%;
  padding-right: 5%;
  margin-bottom: 0px;
  padding-left: 5%;

  padding-bottom: 0px;
}

.gainer-item:hover {
  background: grey;
}

.gainer-ticker {
  flex: 1;

  font-size: 150%;
}

.gainer-price {
  flex: 1;
  margin: 0% 15%;
  color: greenyellow;
}

.gainer-percent-change {
  flex: 1;
  border-radius: 10px;
  height: 100%;
  background: rgba(3, 243, 3, 0.5);
}

.index-item {
  display: flex;
  border-top: 1px white solid;
  padding-top: 5%;
  padding-right: 5%;
  margin-bottom: 0px;
  padding-left: 5%;

  padding-bottom: 0px;
}

.index-item:hover {
  background: grey;
}

.index-ticker {
  flex: 1;
  font-size: 150%;
}

.index-price {
  flex: 1;
  margin: 0% 15%;
}

.index-percent-change {
  flex: 1;
  border-radius: 10px;
  height: 100%;
}

.index-header {
  display: flex;
  margin-right: 5%;
  margin-bottom: 0px;
}

.index-ticker {
  flex: 1;
}

.index-price-head {
  flex: 1;
  margin-right: 5%;
}

.index-change {
  flex: 1;
}

.index {
  flex: 1;
  border: 1px blue solid;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 20px;
  height: 100%;
  padding: 10px 0px;
}
