html {
  height: 100%;
}

.landing-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.form-container {
  flex: 1;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-width: 400px;
  max-width: 450px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border: black solid 2px;
}

.form-img {
  border-right: cyan solid 1px;
  margin-right: 10px;
}

.landing-page-img-container {
  flex: 1;
  height: 578px;
}

.landing-page-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing {
  flex: 1;
  height: 100%;
  margin-top: 100px;
  margin-right: 4.25%;
  margin-left: 4.25%;
}

@media (max-width: 900px) {
  .landing {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .form-img {
    border-top: cyan 1px solid;
  }
}

.form-box {
  position: relative;
}

.form-container .form-box input {
  width: 100%;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid turquoise;
  outline: none;
  background: transparent;
}

.form-container .form-box label {
  position: absolute;
  left: 0;
  pointer-events: none;
}

.form-container .form-box input:focus ~ label,
.form-container .form-box input:valid ~ label {
  top: 25px;
  left: 0;
  color: turquoise;
  font-size: 15px;
}

.add {
  all: unset;
  margin-top: 2.4em;
  background: transparent;
  border: 2px solid white;
  padding: 1em 4em;

  cursor: pointer;
  color: white;
  display: inline-block;
  font-weight: 700;
  position: relative;
  transition: all 300ms ease;
}

.add:hover {
  background: grey;
  font-size: 17px;
}
