.home {
  display: flex;
  flex-direction: row;
  margin: 0px 10px;

  padding-bottom: 3rem;
}

.gainer-and-index {
  flex: 2;
  display: flex;
}

.change {
  color: red;
}

.news {
  flex: 2;
  margin: 5px;
  background: rgba(0, 0, 0, 0.5);

  border: 2px black solid;
  max-height: 80vh;
  overflow: auto;
}

@media (max-width: 800px) {
  .home {
    flex-direction: column;
    padding-bottom: 3rem;
  }
}

.list-container {
  flex: 1;
  border: 2px black solid;

  background: rgba(0, 0, 0, 0.5);
  margin: 5px;
  height: 80vh;
  overflow: auto;
}

.market-info {
  border: black solid 2px;
}

.listheader {
  display: grid;
  grid-auto-flow: column;
  border-bottom: white solid 1px;
}

.listheader-category {
  align-self: left;
  justify-self: left;
  padding-left: 20%;
  text-transform: uppercase;
  margin: 0px;
}
@media (min-width: 750px) {
  .listheader-category {
    padding-left: 30%;
  }
}

.mystock {
  display: grid;
  grid-template-columns: repeat(6, 16.6667%);
  margin: 0;
  justify-self: right;
}

.article {
  text-align: left;
  width: 100%;
  border-top: white 2px double;
  padding: 10px;
}

.article:hover {
  background: grey;
  color: whitesmoke;
}

.article-header {
  display: flex;
  flex: 1;
}

.article-title {
  flex: 1;
  font-size: 25px;
}

.article-break {
  width: 100%;
  border: solid 1px black;
  margin: 2%;
}

.article-summary {
  flex: 1;
  font-size: 20px;
  text-align: left;
}

.article-img {
  flex: 1;

  height: 50%;
  width: 50%;
  padding-left: 5px;
  padding-bottom: 5px;
}

.article-link {
  flex: 1;
  text-align: left;
}

.list-item {
  display: grid;
  grid-auto-flow: column;
  border-bottom: white solid 1px;
  justify-items: center;
}

.list-item:hover {
  background: grey;
  cursor: pointer;
}

.two {
  grid-template-columns: 80% 20%;
}

.three {
  grid-template-columns: repeat(3, 33.3333%);
}

.symbol {
  font-size: 115%;
}

.symbol-sector {
  justify-self: left;
}

.listitem {
  margin: 0px;
  padding-top: 4px;
}

.active-price {
  justify-self: center;
  align-self: center;
}
