.home {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 10px;
}

.gainer-and-index {
  flex: 2;
  display: flex;
}

.news {
  flex: 2;
  margin: 5px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid whitesmoke;
  max-height: 80vh;
  overflow: auto;
}

@media (max-width: 800px) {
  .home {
    flex-direction: column;
    padding: 10px;
    padding-bottom: 3rem;
  }
}

.list-container {
  flex: 1;
  border: 2px greenyellow solid;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  margin: 5px;
  height: 80vh;
  overflow: auto;
}

.listheader {
  display: grid;
  grid-auto-flow: column;
  border-bottom: white solid 1px;
}

.listheader-category {
  padding: 5px;
}

.article {
  text-align: left;
  width: 100%;
  border-top: blue 10px solid;
  padding: 10px;
}

.article-header {
  display: flex;
  flex: 1;
}

.article-title {
  flex: 1;
  font-size: 25px;
}

.article-break {
  width: 100%;
  border: solid 1px yellowgreen;
  margin: 2%;
}

.article-summary {
  flex: 1;
  font-size: 20px;
  text-align: left;
}

.article-img {
  flex: 1;

  height: 50%;
  width: 50%;
  padding-left: 5px;
  padding-bottom: 5px;
}

.article-link {
  flex: 1;
  text-align: left;
}

.list-item {
  display: grid;
  grid-auto-flow: column;
  border-bottom: 1px white solid;
  align-self: center;
  justify-self: center;
}

.list-item:hover {
  background: grey;
}

.symbol {
  font-size: 125%;
}

.listitem {
  padding: 5px;
  margin: 0px;
  align-self: center;
  justify-self: center;
}
