.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

@keyframes arrows {
  0%,
  100% {
    color: black;
    transform: translateY(0);
  }
  50% {
    color: #3ab493;
    transform: translateY(20px);
  }
}

span {
  --delay: 0s;
  animation: arrows 1s var(--delay) infinite ease-in;
}

.span-one {
  --delay: 0.1s;
}
.span-two {
  --delay: 0.3s;
}
.span-three {
  --delay: 0.4s;
}
.span-four {
  --delay: 0.5s;
}
